doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='/img/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/css/util.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    // ===============================================================================================
  body(style='background-color: #666666;')
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form.validate-form(action="/auth/login" method="post")
            span.login100-form-title.p-b-43
              | Instagram
            .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
              input.input100(type='text', name='email')
              span.focus-input100
              span.label-input100 Email
            .wrap-input100.validate-input(data-validate='Password is required')
              input.input100(type='password', name='pass')
              span.focus-input100
              span.label-input100 Password
            .flex-sb-m.w-full.p-t-3.p-b-32
              .contact100-form-checkbox
                input#ckb1.input-checkbox100(type='checkbox', name='remember-me')
                label.label-checkbox100(for='ckb1')
                  | Remember me
              div
                a.txt1(href='#')
                  | Forgot Password?
            .container-login100-form-btn
              button.login100-form-btn(type="submit")
                | Login
            .text-center.p-t-46.p-b-20
              a.txt2.join(href='/join')
                | sign up to be a instagram
          .login100-more(style="background-image: url('/img/bg-01.jpg');")
    // ===============================================================================================
    script(src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous")
    script(src='/js/main.js')